<!DOCTYPE html>
<html>
    <body>
        <H1>ABOUT US</H1>
        <a><img src="gii.jpg" height="400" width=100%></a>
<div class="mainContent">
	<div class="Content">
		<article class="topContent">
			<h3><a title="My First Post">GRIET </a>	</h3>  
		</header>
		<!---<footer>
			<p class="post-info">This post is written by Bishworaj Poudel</p>
		</footer> !-->
		<content>
<p>Gokaraju Rangaraju Institute of Engineering and Technology (GRIET) is established in 1997 by Dr. G Gangaraju as a self-financed institute under the aegis of Gokaraju Rangaraju Educational Society. GRIET is approved by AICTE, New Delhi, permanently affiliated to and autonomous under JNTUH, Hyderabad. GRIET is committed to quality education and is known for its innovative teaching practices.</p>
<p> VISION </p>
<p> To be among the best of the institutions for engineers and technologists with attitudes, skills and knowledge and to become an epicentre of creative solutions. </p>
<p> MISSION </p>
<p> To achieve and impart quality education with an emphasis on practical skills and social relevance.</p>



		</content>
	</article>
		<article class="bottomContent">
			<header>
			<h3><a  title="Pathway Programme"> Objective</a>	</h3>  
			</header>
			
			<content>
				<p> 
					<p> 	. Excellence: Continually strive to achieve the highest standards in education and research </p>
						<p> · Integrity: Sustain an atmosphere of honesty, openness, and transparency in all dealings </p>
							<p> · Innovation: Promote a culture of curiosity and reward originality of thought and action </p>
								<p> · Entrepreneurship: Promote and nurture entrepreneurial spirit among students </p>
									<p> 	· Leadership: Develop leaders with ability to find creative solutions to the problems of the industry </p>
										<p> · Sustainability: Conduct research that addresses critical global challenges and promote public awareness of the issues involved </p>
											<p> · Service to the Nation: Utilize technology for building national wealth </p>
				</p>
		</article>

		
	</div>
</div>
<aside class="top-sidebar">
	<article>
		<h3>Join us today!</h3>
		<p>Embark on an exciting learning journey with GRIET</p>
	</article>
</aside>

<aside class="middle-sidebar">
	<article>
		<h3>Your Boardroom Qualification</h3>
		<p>A Degree to stand out from the crowd…...</p>
	</article>
</aside>

<aside class="buttom-sidebar">
	<article>
		<h3>Be ahead of your peers</h3>
		<p>	<p>Best of Best Institute in Hyderbad.</p></p>
	</article>
</aside></body></html>