<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head><style>
    div.a {
      text-align: center;
    }
    </style>
<body><div class="a">
    <H3>ADMISSION PROCEDURE</H3></div>
    <H3>B Tech Programmes</H3>
        <P>The Eligibility Criteria for Admission to B.Tech Programme:
        <BR>
        Admissions to the Institute are made along with the other Engineering colleges in the state through a common entrance test (EAMCET) conducted by the Govt. of Telangana State.
        <br>
        The admission pattern to B. Tech is as follows: The minimum qualification for admission to first year of the B. Tech course is a pass in the Intermediate (10 + 2) conducted by the board of Intermediate education, Govt. of Telangana State or any other examination recognized as equivalent thereto with Mathematics, Physics and Chemistry as optional subjects.
        
       <H5>ADMISSION</H5><p> 
        1. 70 % of the seats are allotted based on the merit in the EAMCET.<br>
        2. 30 % of the seats are earmarked for Management/NRI candidates.<br>
        3. In addition to the above, Diploma holders are admitted in second year of B. Tech to the extent of 10% of intake based on the merit in the ECET, under lateral entry scheme.
        </p>
        
</body>
</html>