<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body><H1>SYLLABUS</H1></body>
<h3>GR20</h3>
<a href="https://www.griet.ac.in/2022/CE%20GR20%20I%20to%20IV%20Year%20final.pdf"> Civil Engineering</a>
<br><a href="https://www.griet.ac.in/2022/CSE(DS)%20GR%2020%20I%20to%20IV%20Yr%20final.pdf">Computer Science and Engineering(Data Science)</a>
<br><a href="https://www.griet.ac.in/2022/CSE(CSBS)%20GR20%20I%20to%20IV%20Year%20final.pdf"> Computer Science and Business System</a>	
<br><a href="https://www.griet.ac.in/2022/CSE(AIML)%20GR%2020%20I%20to%20IV%20Yr%20final.pdf"> Computer Science and Engineering (AI & ML)</a>
<br><a href="https://www.griet.ac.in/2022/CSE%20GR%2020%20I%20to%20IV%20Yr%20final.pdf">Computer Science and Engineering</a>
<br><a href="https://www.griet.ac.in/2022/EEE%20GR%2020%20I%20to%20IV%20Yr%20final.pdf">	 Electrical and Electronics Engineering</a>
<br><a href="https://www.griet.ac.in/2022/ECE%20GR20%20I%20to%20IV%20yr%20final.pdf">Electronics and Communication Engineering</a>
<br><a href="https://www.griet.ac.in/2022/IT%20GR%2020%20I%20to%20IV%20Yr%20final.pdf"> Information Technology</a>
<br><a href="https://www.griet.ac.in/2022/ME%20GR%2020%20I%20to%20IV%20Yr%20final.pdf">Mechanical Engineering</a>
</head>
</html>

