<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a >HODS</a></li>
          </ul>
        </div>
      </nav>

<table class="center"style="width:70%">
  <tr>
    <th>S.NO</th>
    <th>Name</th> 
    <th>Department</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Dr. K. Madhavi</td>	
    <td>HOD, C.S.E</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Dr. V. Hima Bindu</td>
    <td>HOD, E.C.E.</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Dr. N. V. Ganapathi Raju</td>
    <td>HOD, I.T.</td>
  </tr>
<tr>
        <td>4</td>
        <td>Dr. G. Karuna.</td>
        <td>HOD, A.I. & M.L.</td>
      </tr>
    <tr>
            <td>5</td>
            <td>Dr, B. Phaneendra Babu	</td>
            <td>HOD, E.E.E.</td>
          </tr>
        <tr>
                <td>6</td>
                <td>Dr. B. Tanya</td>
                <td>HOD, M.E.</td>
              </tr>
            <tr>		
                    <td>7</td>
                    <td>Dr. C.Lavanya</td>
                    <td>HOD, C.E.</td>
                  </tr>
                <tr>
                        <td>8</td>
                        <td>Dr. G. Patrick	</td>
                        <td>HOD, H & S</td>
                      </tr>

</table>

</body>
</html>
