<!DOCTYPE html>
<html>
    <head>
        <style>
            *{
                box-sizing: border-box;
            }
            .body{
                margin:0;

            }
			
            .entry-summary::after {
                max-width: 1200px;
				content: "";
				clear: both;
				display: table;
                margin:auto;
                overflow:auto;
				
            }
            .Blocks {
                margin:5px;
                border:1px solid rgb(5, 5, 5);
                float:left;
                width:390px;
				padding: 5px;
			
			
            }
            .Blocks img{
                width:100%;
               height:auto;
    
            }
            .desc{
                padding:15px;
                text-align: center;
            }
        </style>
    </head>
    <body>

<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
				
				<div id="logo-block">
					<!-- logo -->
					<a class="logo" href="https://www.google.com/maps/place/Gokaraju+Rangaraju+Institute+of+Engineering+%26+Technology/@17.5203481,78.3652346,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb91f76541dc95:0x54ab715fa4f2e735!8m2!3d17.5203481!4d78.3674233" title="Interactive Campus Map" rel="home">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_KKfL6q89YWdSEMdtJfLpY-7MIWaTXcBv9tTZvBzU_A&s" width="140" height="84" alt="Gokaraju Rangaraju Institute of Engineering and Technology">
					</a>
				</div>
				
				<!-- title -->
								<h1 id="site-title">
					<span>
						<a href="https://www.google.com/maps/place/Gokaraju+Rangaraju+Institute+of+Engineering+%26+Technology/@17.5203481,78.3652346,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb91f76541dc95:0x54ab715fa4f2e735!8m2!3d17.5203481!4d78.3674233" title="Interactive Campus Map" rel="home">Interactive Griet Campus Map</a>
					</span><br>

				</h1>
				
			</div><!-- #branding -->
			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<ul id="additional">
         

</ul></li>
                   
        </ul>
     	

	<div id="main">

		<div id="container">
			<div id="content" role="main">
			
			
		<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">
			
 
<script type="text/javascript">
/* <![CDATA[ */
(function() {
	var dropdown = document.getElementById( "cat" );
	function onCatChange() {
		if ( dropdown.options[ dropdown.selectedIndex ].value > 0 ) {
			dropdown.parentNode.submit();
		}
	}
	dropdown.onchange = onCatChange;
})();
/* ]]> */
</script>

</li>

			</ul>
			
			
		</div>
			
			<div id="post">
			
				<h1 class="page-title">Listing all Blocks </h1>

				
	
			</div>

			<div id="post-1558" class="post-1558 post type-post status-publish format-standard has-post-thumbnail hentry category-student-services category-computing-help-desk tag-mc tag-mcf">
			
			
		
			<div class="entry-utility">
										
			</div>
						
		</div>


			<div id="post-1420" class="post-1420 post type-post status-publish format-standard has-post-thumbnail hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcj">
			<h2 class="entry-title"><a rel="bookmark">Block 1</a></h2>
            					

			<div class ="entry-summary">
                
                <div class ="Blocks">
			
                <img src = "CSEB.jpg">
				
				<div class ="desc"> Block 1 is Department of Computer Science. Placement Office,Transpoart Office,Seminar Halls and Stationary is also locted here.</div>
                </div>

			</div> 

			<div class="entry-utility">	
								
			</div>		
			<button style ="background:#e3dadf;color:rgb(25, 23, 23);"><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Department+of+Computer+science/@17.5215184,78.3652093,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x3bcb8df15e89cbdb:0x454a6bc3e54a748b!2sDepartment+of+Computer+science!8m2!3d17.5215184!4d78.367398!3m4!1s0x3bcb8df15e89cbdb:0x454a6bc3e54a748b!8m2!3d17.5215184!4d78.367398">Show on Map</a></button>
						
		</div> 

		</div> 
		

			<div id="post-1415" class="post-1415 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mch">
			<h2 class="entry-title"><a  title="Permalink to MC H-block" rel="bookmark">Block 2</a></h2>
									

			<div class="entry-summary">
                <div class ="Blocks">
                    <img src = "ECEB.jpg">
                    
				<div class="desc">ECE.</div>
                </div>

			</div>

			<div class="entry-utility">
					
														
			</div>  <!-- .entry-utility -->
			
						
			<button  style ="background:#e3dadf;color:rgb(171, 8, 27);"><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/ECE+block/@17.5210673,78.3643101,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb8df3eff30b7b:0xd091093616783aea!8m2!3d17.5210673!4d78.3664988">
			Show on Map</a> </button>
						
		</div> <!-- #post-## -->

			<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Block 3</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "block3.jpg">
				<div class="desc">Block 3 is IT.library,Administration office is also located here</div>
				</div>

			</div><!-- .entry-summary -->
			
			

			<div class="entry-utility">
										
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Administrative+Building/@17.5201938,78.3675639,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xbc11fa4a208dbf80!8m2!3d17.5201938!4d78.3675639">
			Show on Map</a> </button>
						
		</div><!-- #post-## -->


			<div id="post-1409" class="post-1409 post type-post status-publish format-standard has-post-thumbnail hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcf">
			<h2 class="entry-title"><a title="Permalink to MC F-block" rel="bookmark">Block 4</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "block4.jpg">
				<div class="desc">Block 4 is Civil,Mechanical and EEE.</div>
				</div>
<!--<p><a class="readmore" href="https://brocku.ca/blogs/campus-map/mc-f-block/">Read more</a></p> -->
			</div><!-- .entry-summary -->
			
			
			<div class="entry-utility">
									
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Griet+Mechanical+Block/@17.5220374,78.3657234,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x3bcb8df3eff30b7b:0xd091093616783aea!2sECE+block!8m2!3d17.5210673!4d78.3664988!3m4!1s0x0:0xb53549a030a18e85!8m2!3d17.5220374!4d78.3679121">
			Show on Map</a> </button>
						
		</div><!-- #post-## -->

		
		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">canteen </a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "canteen.jpg">
				<div class="desc">Canteeen </div>
				</div>

			</div><!-- .entry-summary -->
				

			<div class="entry-utility">
											
								
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Gokaraju+Rangaraju+College+Canteen/@17.5205779,78.3650697,18z/data=!4m21!1m15!4m14!1m6!1m2!1s0x3bcb8df15e89cbdb:0x454a6bc3e54a748b!2sDepartment+of+Computer+science,+G9C8%2BJX2,+Krishnaja+Hills,+Nizampet,+Hyderabad,+Telangana+500090!2m2!1d78.367398!2d17.5215184!1m6!1m2!1s0x3bcb8df3fbcd2c8b:0xd52f13b392f6a3d3!2sGokaraju+Rangaraju+College+Canteen,+G9C8%2B5J8,+Krishnaja+Hills,+Nizampet,+Hyderabad,+Telangana+500090!2m2!1d78.366567!2d17.5204079!3m4!1s0x3bcb8df3fbcd2c8b:0xd52f13b392f6a3d3!8m2!3d17.5204079!4d78.366567">
			Show on Map</a> </button>
						


			<div id="post-1406" class="post-1406 post type-post status-publish format-standard has-post-thumbnail hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mce">
			
			<div class="entry-utility">
											
			</div>
						
		</div><!-- #post-## -->

		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Parking</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "PARKING.jpg">
				<div class="desc">Parking</div>
				</div>

			</div><!-- .entry-summary -->
			
			

			<div class="entry-utility">
										
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Administrative+Building/@17.5201938,78.3675639,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xbc11fa4a208dbf80!8m2!3d17.5201938!4d78.3675639">
			Show on Map</a> </button>
						


		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Bank</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "BANK.jpg">
				<div class="desc">Bank</div>
				</div>

			</div><!-- .entry-summary -->
			
			<div class="entry-utility">
											
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/pnb+bank/@17.5204428,78.3681996,17.27z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x3bcb8d117df2e095:0x6b98436bacc66082!2sG999%2BM96+pnb+bank,+Krishnaja+Hills,+Bachupally,+Hyderabad,+Telangana+500090!2m2!1d78.3683801!2d17.519161!3m4!1s0x3bcb8d117df2e095:0x6b98436bacc66082!8m2!3d17.519161!4d78.3683801">
			Show on Map</a></button>


			<div class="entry-summary">
			
			</div><!-- .entry-summary -->
		
			<div class="entry-utility">
					
												
			</div><!-- .entry-utility -->
			
						
		</div><!-- #post-## -->

       
		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Open Air Stadium </a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "OPENAIR.jpg">
				<div class="desc">Open air stadium</div>
				</div>

			</div><!-- .entry-summary -->
			
		
			<div class="entry-utility">
											
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Open+Air+Stadium/@17.5205895,78.3656698,18.07z/am=t/data=!4m25!1m19!4m18!1m6!1m2!1s0x3bcb91f76541dc95:0x54ab715fa4f2e735!2sGokaraju+Rangaraju+Institute+of+Engineering+%26+Technology,+Bachupally,+Survey+No.+288,+Nizampet+Rd,+Kukatpally,+Hyderabad,+Telangana+500090!2m2!1d78.3674233!2d17.5203481!1m6!1m2!1s0x3bcb8dec7480c6f7:0x12cbeb91065e9e96!2sG9C8%2B76J+Gokaraju+Lailavathi+Womens+Engineering+College,+Nizampet+Rd,+Bachupally,+Kukatpally,+Hyderabad,+Telangana+500090!2m2!1d78.3655263!2d17.5207238!6m3!1i0!2i0!3i2!3m4!1s0x3bcb8df3f95fbd4d:0x2d34207b6c476a02!8m2!3d17.5205027!4d78.3666788">
			Show on Map</a></button>
			
			<div class="entry-utility">
								
			</div><!-- .entry-utility -->				
		</div> <!-- #post-## -->

		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a title="Permalink to MC G-block" rel="bookmark">Pharmacy Block</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "pharmacy.jpg">
				<div class="desc">Pharmacy Block</div>
				</div>

			</div><!-- .entry-summary -->
			
			

			<div class="entry-utility">
										
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Gokaraju+Rangaraju+College+of+Pharmacy/@17.521013,78.3669883,18z/data=!4m21!1m15!4m14!1m6!1m2!1s0x3bcb8df15e89cbdb:0x454a6bc3e54a748b!2sDepartment+of+Computer+science,+G9C8%2BJX2,+Krishnaja+Hills,+Nizampet,+Hyderabad,+Telangana+500090!2m2!1d78.367398!2d17.5215184!1m6!1m2!1s0x3bcb8df135ea5df1:0x3257849d512138e0!2sGokaraju+Rangaraju+College+of+Pharmacy,+Survey+No.+288,+Nizampet-Bachupally+Road,+Bachupally,+Hyderabad,+Telangana+500090!2m2!1d78.3687984!2d17.5205129!3m4!1s0x3bcb8df135ea5df1:0x3257849d512138e0!8m2!3d17.5205129!4d78.3687984">
			Show on Map</a></button>
			
			<div class="entry-utility">
											
			</div><!-- .entry-utility -->
							
		</div><!-- #post-## -->	


		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Lailavathi College</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "lailavathi.jpeg">
				<div class="desc"> Lailavathi College</div>
				</div>

			</div><!-- .entry-summary -->
			
			

			<div class="entry-utility">
										
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Gokaraju+Lailavathi+Womens+Engineering+College/@17.521013,78.3658939,17z/data=!4m21!1m15!4m14!1m6!1m2!1s0x3bcb8df15e89cbdb:0x454a6bc3e54a748b!2sDepartment+of+Computer+science,+G9C8%2BJX2,+Krishnaja+Hills,+Nizampet,+Hyderabad,+Telangana+500090!2m2!1d78.367398!2d17.5215184!1m6!1m2!1s0x3bcb8df135ea5df1:0x3257849d512138e0!2sGokaraju+Rangaraju+College+of+Pharmacy,+Survey+No.+288,+Nizampet-Bachupally+Road,+Bachupally,+Hyderabad,+Telangana+500090!2m2!1d78.3687984!2d17.5205129!3m4!1s0x3bcb8dec7480c6f7:0x12cbeb91065e9e96!8m2!3d17.5207238!4d78.3655263">
			Show on Map</a></button>

	</div> <!-- .entry-summary -->
			
			<div class="entry-utility">
											
			</div><!-- .entry-utility -->
				
						
		</div><!-- #post-## -->


		<div id="post-1412" class="post-1412 post type-post status-publish format-standard hentry category-buildings category-brock-university category-academic-administrative tag-mc tag-mcg">
			<h2 class="entry-title"><a  title="Permalink to MC G-block" rel="bookmark">Ganges Valley School</a></h2>
									

			<div class="entry-summary">
				<div class="Blocks">
					<img src = "Ganges.jpeg">
				<div class="desc">Ganges Valley School</div>
				</div>

			</div><!-- .entry-summary -->
			
			

			<div class="entry-utility">
										
			</div><!-- .entry-utility -->
			
						
			<button><a class="ios-link button-grey mobile" href="https://www.google.com/maps/place/Ganges+Valley+School/@17.5209896,78.3656524,18.58z/data=!4m15!1m9!4m8!1m0!1m6!1m2!1s0x3bcb8d117df2e095:0x6b98436bacc66082!2sG999%2BM96+pnb+bank,+Krishnaja+Hills,+Bachupally,+Hyderabad,+Telangana+500090!2m2!1d78.3683801!2d17.519161!3m4!1s0x3bcb8df39ca56c77:0x5eee900aa5bb86f7!8m2!3d17.5207959!4d78.364863">
			Show on Map</a></button>
						



		
			<!--	<div id="nav-below" class="navigation">
					<div class="nav-previous"><a href="https://brocku.ca/blogs/campus-map/tag/mc/page/2/">Next results <span class="meta-nav">→</span></a></div>
					<div class="nav-next"></div>
				</div> --> <!-- #nav-below -->
			
			</div>
				
				
			</div><!-- #content -->
		</div><!-- #container -->

		<hr style="clear: both;">
		
<div id="avatar_footer_credit" style="display: none;">Avatars by <a href="http://www.sterling-adventures.co.uk/blog/">Sterling Adventures</a></div>
	</div><!-- #main -->
	
	

</div>
</body>
</html>